db_type = "mysql"

[database]
user = "YOUR_DB_USER"
password = "YOUR_DB_PASSWORD"
server = "localhost"
port = 3306
name = "localca" # database名

  [database.tls]
  disable = true
  caonly = true
  ca = ""
  cert = ""
  key = ""
